[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/openssl-cmake"]
	path = deps/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
